<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>B-snake</title>

    <style>
      @font-face {
        font-family: 'BlocketSans-Regular';
        src:
          url('assets/fonts/BlocketSans-Regular.woff2') format('woff2'),
          url('assets/fonts/BlocketSans-Regular.woff') format('woff');
      }

      @font-face {
        font-family: 'BlocketSans-Bold';
        src:
          url('assets/fonts/BlocketSans-Bold.woff2') format('woff2'),
          url('assets/fonts/BlocketSans-Bold.woff') format('woff');
      }

      @font-face {
        font-family: 'BlocketSans-Medium';
        src:
          url('assets/fonts/BlocketSans-Medium.woff2') format('woff2'),
          url('assets/fonts/BlocketSans-Medium.woff') format('woff');
      }

      body {
        font-family: 'BlocketSans-Regular', sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>

    {{#each webpack.assetsByChunkName}}
    <script src="{{this.[0]}}"></script>
    {{/each}}
  </body>
</html>
